$content-max-width: 1032px !default;

$grid-step: 4px !default;

$grid-spacing: (
        "xxs": $grid-step, // 4
        "xs": $grid-step * 2,  // 8
        "sm": $grid-step * 3, // 12
        "md": $grid-step * 3.5, // 14
        "lg": $grid-step * 5, // 20
        "xl": $grid-step * 6, // 24
        "xxl": $grid-step * 9, // 36
) !default;

$border-radius: (
        "xxs": $grid-step, // 4
        "xs": $grid-step * 2,  // 8
        "sm": $grid-step * 3, // 12
        "md": $grid-step * 4, // 16
        "lg": $grid-step * 5, // 20
        "xl": $grid-step * 6, // 24
        "xxl": $grid-step * 7, // 28
) !default;

$border-radius: (
        "xxs": $grid-step, // 4
        "xs": $grid-step * 2,  // 8
        "sm": $grid-step * 3, // 12
        "md": $grid-step * 4, // 16
        "lg": $grid-step * 5, // 20
        "xl": $grid-step * 6, // 24
        "xxl": $grid-step * 7, // 28
) !default;
