
$font-weight: (
        "bold": 700,
        "semibold": 500,
        "regular": 400,
) !default;


@mixin TypographyHeading1 {
  font-size: 20px;
  line-height: 20px;
}

@mixin TypographyHeading2 {
  font-size: 18px;
  line-height: 18px;
}


@mixin TypographyBody1 {
  font-size: 14px;
  line-height: 18px;
}

@mixin TypographyBodyMid {
  font-size: 16px;
  line-height: 20px;
}

@mixin TypographyBodySmall {
  font-size: 12px;
  line-height: 16px;
}

@mixin TypographyLink {

}
